//  ===============================
//       LandingPage 
//  ===============================
#landing{
	.landingContent {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 10vw 0 10vw;
		height: 637px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		.landingText {
			h1 {
				margin: 0 !important;
				font-size: 3vw;
				text-decoration: none;
				font-weight: 600;
			}
			span {
				font-size: 2.6vw;
				color: rgba(224, 80, 27, 1);
			}
			h3 {
				margin: 6px !important;
				font-size: 1vw;
				opacity: 0.8;
				line-height: normal;
				font-weight: 600;
			br {
				content: '';
				&:after {
					content: '';
				}
			}
			}
			.btnmulai {
				a {
					font-size: 1.2vw;
					color: #fff;
					font-weight: 600;
					text-transform: uppercase;
					margin-top: 20px;
					padding: 10px 25px;
				}
			}
		}
		.landingImage {
			img {
				width: 25vw;
			}
		}
	}
	//  ===============================
	//       Landing Tipe
	//  ===============================
	.landingContent2{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 10vw 0 10vw;
		height: 500px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		.landingText{
			h1{
				margin: 0 !important;
				font-size: 3vw;
				text-decoration: none;
				font-weight: 600;
			}
			span {
				font-size: 2.8vw;
				color: rgba(224, 80, 27, 1);
			}
			h3{
				margin: 6px !important;
				font-size: 2vw;
				opacity: 0.8;
				line-height: normal;
				font-weight: 600;
			}
		}
	}
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		.landingContent{
			height: 500px;
			margin-top: 0;
		}
		.landingContent2{
			height: 400px;
			margin-top: 0;
		}
	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991px) {
		.landingContent{
			height: 320px;
			.landingText{
				h3{
					font-size: .8rem;
				}
			}
		}
		.landingContent2{
			height: 300px;
			.landingText{
				h1{
					font-size: 30px;
					span{
						font-size: 26px;
					}
				}
				h3{
					font-size: 1rem;
				}
			}
		}
	}

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767px) {
		.landingContent {
			flex-direction: column-reverse;
			height: 480px;
			align-items: center;
			justify-content: center;
			text-align: center;
			.landingText {
				h1 {
					font-size: 1rem;
					margin: 0 !important;
					margin-bottom: 10px;
					span {
					font-size: .9rem;
					}
				}
				h3 {
					font-size: .7rem;
				}
				.btnmulai {
					margin: 0 auto;
					a {
						font-size: 3vw;
					}
				}
			}
			.landingImage {
				img {
					width: 52vw;
					margin-bottom: 20px;
				}
			}
		}

		.landingContent2 {
			flex-direction: column-reverse;
			height: 240px;
			align-items: center;
			justify-content: center;
			text-align: center;
			.landingText {
				h1 {
					font-size: 1.4rem;
					margin: 0 !important;
					margin-bottom: 10px;
					span {
						font-size: 1.1rem;
					}
				}
				h3 {
					font-size: .9rem;
				}
			}
		}
	}
}
//  ===============================
//  Container-Index-TipeKepribadian
//  ===============================
.faq {
	.faq-layouting {
		.rules-wrapper {
			padding: 52px 52px;
			-webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
			box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
			border-radius: 15px;
			background: #fff;
			// margin-top: -57px;
			margin-bottom: 70px;
			h3 {
				font-size: 29px;
				font-weight: 700;
				margin-bottom: 40px;
			}
			ul {
				padding: 0;
				li {
					font-size: 15px;
					font-weight: 600;
					margin-bottom: 16px;
					color: #3b3f5c;
					&:hover {
						cursor: pointer;
						color: #1b55e2;
						svg {
							color: #1b55e2;
						}
					}
					.icon-svg {
						display: inline-block;
						margin-right: 9px;
					}
					svg {
						color: #888ea8;
						width: 19px;
						height: 19px;
						vertical-align: bottom;
					}
				}
			}
		}
		//*Personality prom*/ 
		.personality-section {
			margin-bottom: 50px;
			h2 {
				font-size: 29px;
				font-weight: 700;
				margin-bottom: 60px;
			}
			.infoHeader {
				text-align: center;
				margin-bottom: 90px;
				h2 {
					font-size: 2.2rem;
					margin-bottom: 20px;
				}
				h3 {
					-webkit-line-clamp: 3;
				}
			}
			.row{
				margin-bottom: 90px;
			}
			.card {
				border: none;
				-webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
				box-shadow: 0 10px 22px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);
				border-radius: 12px;
				.cardImg {
					width: auto;
					height: 200px;
					position: absolute;
					top: -50px;
					right: -16px;
				}
				.cardbg1 {
					height: 150px;
					background: -webkit-gradient(linear, left top, right top, from(rgba(69, 190, 119, .9)), to(rgba(169, 229, 90, .8)));
					background: linear-gradient(to right, rgba(69, 190, 119, .9), rgba(169, 229, 90, .8));
					border-radius: .8rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				.cardbg2 {
					height: 150px;
					background: -webkit-gradient(linear, left top, right top, from(rgba(164, 80, 139, .9)), to(rgba(254, 0, 254, .8)));
					background: linear-gradient(to right, rgba(164, 80, 139, .9), rgba(254, 0, 254, .8));
					border-radius: .8rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				.cardbg3 {
					height: 150px;
					background: -webkit-gradient(linear, left top, right top, from(rgba(241, 169, 60, .9)), to(rgba(255, 236, 65, .8)));
					background: linear-gradient(to right, rgba(241, 169, 60, .9), rgba(255, 236, 65, .8));
					border-radius: .8rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				.cardbg4 {
					height: 150px;
					background: -webkit-gradient(linear, left top, right top, from(rgba(79, 172, 254, .9)), to(rgba(0, 242, 254, .8)));
					background: linear-gradient(to right, rgba(79, 172, 254, .9), rgba(0, 242, 254, .8));
					border-radius: .8rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				.cardTitle {
					font-size: 40px;
					color: black;
					opacity: .6;
					margin-left: -6rem;
					margin-bottom: 20px;
				}
				.card-body {
					.card-text {
						letter-spacing: 1px;
						color: rgba(83, 87, 104, 1);
						display: -webkit-box;
						overflow: hidden;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						margin-bottom: 15px;
					}
					.btn{
						padding: 0.3rem 0.8rem;
					}
					a{
						font-size: 14px;
						font-weight: 600;
					}
				}
			}
		}
		// Medium devices (tablets, less than 992px)
		@media (max-width: 991px) {
			.personality-section{
				h2{
					margin-bottom: 40px;
				}
				.infoHeader{
					margin-bottom: 60px;
					h2{
						font-size: 30px;
					}
					h5{
						font-size: 16px;
					}
				}
				.card{
					margin-top: 35px;
					.card-body{
						.card-text{
							margin-bottom: 25px;
						}
						.btn{
							padding: 0.3rem .5rem;
						}
					}
				}
			}
		}
		// Small devices (landscape phones, less than 768px)
		@media (max-width: 767px) {
			.personality-section{
				margin-bottom: 0;
				.infoHeader{
					margin-bottom: 40px;
					h2{
						font-size: 26px;
					}
					h5{
						font-size: 14px;
					}
				}
				.card{
					margin: 25px 30px;
					height: 365px;
				}
			}
		}
	}
}