#quiz {
	margin-top: -10px;
	.quiz-layouting {
		font-family: 'Montserrat', sans-serif;
		.quiz-tab-section {
			padding: 35px 50px;
			background: #fff;
			border-radius: 6px;
			-webkit-box-shadow: 4 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
			box-shadow: 4 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
			.progress {
				margin: 40px 0;
			}
			.title-section {
				h3 {
					font-weight: 600;
					color: rgba(79, 86, 101, 1);
				}
				h5 {
					text-transform: none;
					font-weight: 400;
					color: rgba(79, 86, 101, 1);
				}
			}
			.none {
				display: none;
			}
			.soal {
				font-size: 1.4rem;
				font-weight: 600;
				letter-spacing: 0px;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 45px;
				color: rgba(79, 86, 101, 1);
			}
			.card {
				height: 250px;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				border: 2px solid #e0e6ed;
				border-radius: 10px;
				-webkit-box-shadow: 0px 1px 7px 10px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 1px 7px 10px rgba(0, 0, 0, 0.2);
				backdrop-filter: blur( 17.0px );
				-webkit-backdrop-filter: blur( 17.0px );
				margin-bottom: 5px;
				.selected-label {
					position: absolute;
					width: 610px;
					input {
						display: none;
						&:checked {
							& ~ .selected-content {
								box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
								background-color: rgb(236, 190, 40);
							}
						}
					}
					.selected-content {
						height: 248px;
						background: #fff;
						display: grid;
						grid-gap: 35px;
						place-content: center;
						text-align: center;
						border: 2px solid transparent;
						border-radius: 10px;
						box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
						transition: .4s ease-in-out all;
						&:hover {
							background-color: rgba(255, 171, 0, 1);
							color: #fff;
						}
						.jawaban {
							font-size: 1.1rem;
							font-weight: 600;
							text-transform: none;
							color: rgba(79, 86, 101, 1);
						}
					}
				}
			}
			.btnhasil{
				a{
					color: #fff;
					font-size: 16px;
					font-weight: 600;
					text-transform: uppercase;
					margin-top: 60px;
					padding: 10px 20px;
				}
			}
		}
		/** Medium devices (tablets, 768px and up) */
		@media screen and (min-width: 768px) and (max-width: 991px) {
			.quiz-tab-section {
				.soal {
					font-size: 1.2rem;
				}
				.card {
					height: 250px;
					width: auto;
					margin-bottom: 15px;
					.selected-label {
						width: 330px;
						.selected-content {
							.jawaban {
								font-size: 1rem;
							}
						}
					}
				}
				.btnhasil{
					a{
						font-size: 14px;
						padding: 10px 15px;
					}
				}
			}
		}
		/** Small devices (landscape phones, less than 768px) */
		@media screen and (max-width: 767px) {
			.quiz-tab-section {
				.soal {
					font-size: 1rem;
				}
				.card {
					margin-top: 8px;
					width: auto;
					.selected-label {
						width: 275px;
						.selected-content {
							.jawaban {
								font-size: .9rem;
							}
						}
					}
				}
				.btnhasil{
					a{
						font-size: 10px;
						padding: 10px 15px;
					}
				}
			}
		}
	}
}


// Additional
